{% load static %}
<!-- CONCOURSE -->
<!-- About Section -->
<section id="concurso">			
	<div class="container">
		<h3 class="fn__maintitle big mb-4 mt-4" data-text="Concurso" data-align="center">Concurso</h3>
		<!-- Mint Shortcode -->
		<div class="row">
			<div class="col-12">
				<img src="{% static 'images/concurso/concurso_1.jpg' %}" class="img-fluid"/>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<img src="{% static 'images/concurso/concurso_2.jpg' %}" class="img-fluid"/>
			</div>
		</div>
		<div class="row">
			<div class="col-12 offset-5 mt-4">
				<a href="{% static 'docs/bases.pdf' %}" target="_blank" class="metaportal_fn_button"><span>Bases del concurso</span></a>
			</div>
		</div>
		<!-- !Mint Shortcode -->
	</div>
	
</section>
<!-- !About Section -->
<!-- CONCOURSE -->