{% load static %}
<!-- Section -->
<section id="contact">
  <div class="container">
    <h3 class="fn__maintitle big" data-text="Contáctanos" data-align="center">Contáctanos</h3>      
    <div class="fn_cs_contact_info">
      <div class="row">
        <div class="col-md-4 offset-md-2">
          <div class="item">
            <p class="text-justify">Si tienes interés en formar parte de nuestra red de monitoreo, te invitamos a ponerte en contacto con nosotros. En IluminAconCiencia, estamos listos para ofrecerte todo el apoyo necesario en el proceso de instalación del nodo de captura de datos. Nuestro equipo estará a tu disposición para brindarte asistencia técnica y gestionar todas las etapas requeridas para que puedas unirte a nuestro proyecto de monitoreo.</p>
            <p class="text-justify"> No dudes en comunicarte con nosotros para obtener más detalles y comenzar esta colaboración en pro de la salud, la biodiversidad, la ciencia y la investigación.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="item">
            <h4 class="label">Dirección</h4>
            <p>Benavente 980 - La Serena - Chile</p>
            <h4 class="lable">Correo</h4>
            <p><a href="mailto:iluminaconciencia@userena.cl">iluminaconciencia@userena.cl</a></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 offset-md-2">  
          <img src="{% static 'images/gore.svg' %}" width="300px" class="img-responsive d-block "/>
        </div>
        <div class="col-md-3 pt-4 mt-4">
          <img src="{% static 'images/logo.svg' %}" width="350px" class="img-responsive d-block "/>
        </div>
        <div class="col-md-3 pt-4 mt-4">
          <img src="{% static 'images/core.jpg' %}" width="200px" class="img-responsive d-block "/>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-2">
          <div class="mint_desc"><p>Proyecto financiado por el Gobierno Regional de Coquimbo, a través del Fondo de Innovación para la Competitividad Regional FIC-R</p></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-4 mt-4">  
          <img src="{% static 'images/logo_eso.png' %}" width="600px" class="img-responsive d-block "/>
        </div>
      </div>
    </div>
  </div>
</section>