{% load static %}
<!-- Section -->
<section id="downloads" style="padding: 144px 0 150px 0;">
  <div class="container">
    <h3 class="fn__maintitle big" data-text="Descargas" data-align="center">Descargas</h3>      
    <div class="fn_cs_contact_info">
      <div class="row">
        <div class="col-md-12">
            <ul>
              <li>
                <a href="{% static 'docs/downloads/escala_bortle.pdf' %}" target="_blank">
                  <div class="card">
                    <img class="card-img-left" src="{% static 'images/downloads/escala-bortle.jpg' %}">
                    <div class="card-body">Escala de Bortle</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="{% static 'docs/downloads/infografia_1.pdf' %}" target="_blank">
                  <div class="card">
                    <img class="card-img-left" src="{% static 'images/downloads/infografia-1.jpg' %}">
                    <div class="card-body">Infografía 1</div>
                  </div>
                </a>
              </li>
              <li>
                <a href="{% static 'docs/downloads/infografia_2.pdf' %}" target="_blank">
                  <div class="card">
                    <img class="card-img-left" src="{% static 'images/downloads/infografia-2.jpg' %}">
                    <div class="card-body">Infografía 2</div>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <ul>
                <li>
                  <a href="{% static 'docs/downloads/pieza_1.stl' %}" target="_blank">
                    <div class="card">
                      <img class="card-img-left" src="{% static 'images/downloads/figura-1.jpg' %}">
                      <div class="card-body">Base de soporte</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="{% static 'docs/downloads/pieza_2.stl' %}" target="_blank">
                    <div class="card">
                      <img class="card-img-left" src="{% static 'images/downloads/figura-2.jpg' %}">
                      <div class="card-body">Tuerca de soporte</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="{% static 'docs/downloads/pieza_3.stl' %}" target="_blank">
                    <div class="card">
                      <img class="card-img-left" src="{% static 'images/downloads/figura-3.jpg' %}">
                      <div class="card-body">Bola de articulación</div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
                <ul>  
                  <li>
                    <a href="{% static 'docs/downloads/pieza_4.stl' %}" target="_blank">
                      <div class="card">
                        <img class="card-img-left" src="{% static 'images/downloads/figura-4.jpg' %}">
                        <div class="card-body">Brazo de soporte</div>
                      </div>
                    </a>
                  </li>
                  <li>
                    <a href="{% static 'docs/downloads/graficas_campana.pdf' %}" target="_blank">
                      <div class="card">
                        <img class="card-img-left" src="{% static 'images/downloads/infografia-3.jpg' %}">
                        <div class="card-body">Gráficas campaña RRSS Transforma Turismo</div>
                      </div>
                    </a>
                  </li>
                  <li>
                      <a href="{% static 'docs/downloads/fragmento_de_campana_radial.mp3' %}" target="_blank">
                        <div class="card">
                          <img class="card-img-left" src="{% static 'images/downloads/play.jpg' %}">
                          <div class="card-body">Audios Campaña Radial </div>
                        </div>
                      </a>
                  <li>
                </ul>
              </div>
            </div>
      </div>
    </div>
  </div>
</section>