{% load static %}
{% block css %}
{% endblock %}
    
<!-- Project escala bortle -->
<section id="mapa">
  <div style="text-align: center;">
    <h3 class="fn__maintitle big mb-4 mt-4" data-text="Nodos de Medición en Escala Bortle" data-align="center">Nodos de Medición en Escala Bortle</h3>
    <!--Imagenes escala Bortle-->
    <img src="{% static 'images/escala_bortle/actualizacion_escala_movil.jpg' %}" class="imagen-pequena" alt="Imagen pequeña">
    <img src="{% static 'images/escala_bortle/bortle.png' %}" class="imagen-grande" alt="Imagen grande">
  </div>
</section>
<!-- !Project escala bortle -->