{% load static %}
<!-- Section FAQ -->
<section id="faq">
	<div class="container">
		
		<div class="fn_cs_faq">
			
			<div class="faq_col">
				<h3 class="fn__maintitle" data-text="PREGUNTAS FRECUENTES">PREGUNTAS FRECUENTES</h3>
				<div class="fn_cs_divider">
					<div class="divider">
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="desc">
					<p></p>
				</div>
			</div>
			
			<div class="faq_col">
				
				<div class="fn_cs_accordion">
					<div class="acc_item">
						<div class="acc_header">
							<h3 class="fn__maintitle" data-text="¿Qué es la contaminación lumínica?">¿Qué es la contaminación lumínica?</h3>
							<span class="icon"><span></span></span>
						</div>
						<div class="acc_content text-justify">
							<p>La contaminación lumínica es un fenómeno provocado por el exceso de iluminación artificial en el entorno nocturno, que tiene consecuencias negativas tanto para los seres humanos como para el medio ambiente. Se produce cuando la luz artificial se dispersa, se refleja y se emite innecesariamente hacia el cielo y los espacios exteriores, en lugar de iluminar únicamente los lugares necesarios.</p>
							<p>La contaminación lumínica afecta directamente a los ecosistemas y la fauna, perturbando los ciclos naturales de sueño y reproducción de los animales, así como la migración de aves y la supervivencia de insectos polinizadores. También tiene efectos perjudiciales en la observación astronómica, al dificultar la visibilidad de las estrellas y otros cuerpos celestes.</p>
							<p>Además, la contaminación lumínica tiene implicaciones para la salud humana, ya que altera los ritmos circadianos y puede causar trastornos del sueño, fatiga y estrés crónico. También representa un desperdicio energético significativo, ya que se consume electricidad innecesaria para iluminar áreas donde no se requiere.</p>
							<p>Para combatir la contaminación lumínica, es importante promover el uso responsable de la iluminación, como el uso de luminarias eficientes, la orientación adecuada de las luces y la reducción del brillo innecesario. Asimismo, fomentar la conciencia y educación sobre el impacto ambiental de la contaminación lumínica es fundamental para preservar la calidad de nuestro entorno nocturno.</p>
						</div>
					</div>
					<div class="acc_item">
						<div class="acc_header">
							<h3 class="fn__maintitle" data-text="¿Qué es la luz artificial?">¿Qué es la luz artificial?</h3>
							<span class="icon"><span></span></span>
						</div>
						<div class="acc_content text-justify">
							<p>La luz es radiación electromagnética que se propaga a través del espacio en forma de ondas o partículas llamadas fotones. La luz es fundamental para la vida en la Tierra, ya que es la principal fuente de energía para las plantas en el proceso de fotosíntesis y nos permite ver y orientarnos en nuestro entorno.</p>
							<p>La luz artificial es aquella generada por fuentes artificiales de iluminación, como lámparas, farolas, letreros, y otros dispositivos eléctricos diseñados para emitir luz. A diferencia de la luz natural del sol y la luna, la luz artificial es creada por el ser humano con el propósito de iluminar espacios y satisfacer nuestras necesidades de visibilidad durante la noche.</p>
							<p>La luz artificial ha traído consigo numerosos beneficios en términos de seguridad, comodidad y desarrollo humano. Nos permite realizar actividades durante la noche, mejorar la seguridad en calles y espacios públicos, y facilitar el funcionamiento de diversas industrias. No obstante, el uso descontrolado y excesivo de la luz artificial ha dado lugar a la contaminación lumínica.</p>
							<p>Es importante encontrar un equilibrio entre el uso de la luz artificial y la protección del entorno nocturno. Esto implica utilizar fuentes de luz eficientes y de menor intensidad, dirigir la iluminación de manera adecuada y evitar el uso excesivo o innecesario de luz artificial. Con una iluminación responsable, podemos minimizar los efectos negativos de la luz artificial y preservar la belleza natural de la oscuridad nocturna.</p>
						</div>
					</div>
					<div class="acc_item">
						<div class="acc_header">
							<h3 class="fn__maintitle" data-text="¿Cómo afecta la contaminación lumínica en la salud humana?">¿Cómo afecta la contaminación lumínica en la salud humana?</h3>
							<span class="icon"><span></span></span>
						</div>
						<div class="acc_content text-justify">
							<p>La contaminación lumínica tiene diversos efectos en la salud humana, especialmente en relación con el ciclo del sueño y el bienestar general. La exposición excesiva a la luz artificial durante la noche puede alterar nuestros ritmos biológicos naturales y afectar negativamente la calidad y la duración del sueño.</p>
							<p>Uno de los efectos más comunes es la interrupción del ritmo circadiano, el reloj interno que regula nuestros patrones de sueño y vigilia. La exposición prolongada a la luz brillante durante la noche puede suprimir la producción de melatonina, una hormona responsable de regular el sueño. Esto puede resultar en trastornos del sueño crónicos.</p>
							<p>La falta de sueño y descanso adecuados debido a la contaminación lumínica puede tener consecuencias negativas para la salud en general. Puede provocar fatiga, disminución del rendimiento cognitivo, dificultad para concentrarse y aumentar el riesgo de desarrollar enfermedades como la obesidad, la diabetes y los trastornos cardiovasculares.</p>
							<p>Para proteger nuestra salud frente a la contaminación lumínica, es importante adoptar medidas como el uso de iluminación adecuada en intensidad y dirección, especialmente en dormitorios y áreas de descanso. También es recomendable evitar el uso de dispositivos electrónicos con pantallas brillantes antes de acostarse, ya que la luz azul emitida por estos dispositivos puede suprimir aún más la producción de melatonina.</p>
						</div>
					</div>
					<div class="acc_item">
						<div class="acc_header">
							<h3 class="fn__maintitle" data-text="¿Cómo podemos ayudar?">¿Cómo podemos ayudar?</h3>
							<span class="icon"><span></span></span>
						</div>
						<div class="acc_content text-justify">
							<p>Existen diversas acciones que podemos tomar a nivel individual y colectivo para contribuir a la mitigación de la contaminación lumínica y promover una iluminación más responsable. Aquí hay algunas medidas que podemos implementar:</p>
							<p>
								<ol>
									<li><p>Uso eficiente de la iluminación: Asegurarnos de que la iluminación artificial esté bien ajustada y solo se utilice cuando sea necesario. Apagar las luces cuando no se estén ocupando, y utilizar sensores de movimiento o temporizadores para activarlas solo cuando sea requerido. </p></li>
									<li><p>Uso de iluminación direccionada: Dirigir la luz hacia donde se necesita y evitar la dispersión innecesaria. Utilizar iluminación focalizada y apuntar las luces hacia abajo para evitar el deslumbramiento y la emisión de luz hacia el cielo.</p></li>
									<li><p>Regulación de la intensidad luminosa: Utilizar reguladores de intensidad o atenuadores para ajustar el brillo de las luces según las necesidades específicas de cada situación. Evitar el uso de luces demasiado brillantes o potentes cuando no sean necesarias.</p></li>
									<li><p>Concientización y educación: Informarse y difundir el tema de la contaminación lumínica para generar conciencia en la comunidad. Promover la importancia de una iluminación responsable y sus beneficios tanto para la salud humana como para la protección del medio ambiente.</p></li>
								</ol>
							</p>
							<p>Cada pequeña acción cuenta cuando se trata de mitigar la contaminación lumínica. A través de la adopción de prácticas responsables de iluminación y la concienciación colectiva, podemos contribuir significativamente a la mitigación de la contaminación lumínica preservar la calidad del cielo nocturno, proteger nuestra salud y el equilibrio de los ecosistemas.</p>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="faq_col">
				
				<div class="fn_cs_accordion">
					<div class="acc_item">
						<div class="acc_header">
							<h3 class="fn__maintitle" data-text="¿Qué dice la norma chilena respecto a la contaminación lumínica?">¿Qué dice la norma chilena respecto a la contaminación lumínica?</h3>
							<span class="icon"><span></span></span>
						</div>
						<div class="acc_content text-justify">
							<p>La primera ley que regula la emisión de contaminación lumínica en Chile se aprobó en 1998. Esta norma restringe el flujo total emitido por las luminarias exteriores, así como la orientación y la emisión en longitudes de onda no visibles. Esta norma fue actualizada el año 2012, se encuentra actualmente vigente, y aplica solo en las regiones de Antofagasta, Atacama y Coquimbo, ya que el objetivo de esta ley es salvaguardar la investigación realizada por los grandes centros de observación astronómica ubicados en el norte del país. </p>
							<p>La evidencia científica de los últimos años indica que, lejos de ser un problema exclusivamente astronómico, la contaminación lumínica es perjudicial para la salud humana y para el medioambiente.</p>
							<p>La nueva norma lumínica, que pronto entrará en vigencia, tiene como principal objeto la protección de la salud humana y de la biodiversidad. Por este motivo, será aplicada en todo el territorio nacional. Esta nueva norma fortalece el control preventivo y restringe la emisión de luz azul.</p>
							<p>La nueva norma contempla además la definición de áreas de protección especial (Areas de protección de la biodiversidad, áreas astronómicas y sitios de reproducción) con restricciones aún mayores en los niveles de contaminación lumínica permitidos.</p>
						</div>
					</div>
					<div class="acc_item">
						<div class="acc_header">
							<h3 class="fn__maintitle" data-text="¿Qué daños puede causar la contaminación lumínica en la flora y fauna?">¿Qué daños puede causar la contaminación lumínica en la flora y fauna?</h3>
							<span class="icon"><span></span></span>
						</div>
						<div class="acc_content text-justify">
							<p></p>
							<p>
								<ol>
									<li><p><b>Desorientación y migración alterada</b>: Muchos animales, como aves marinas y tortugas marinas, utilizan la luz natural para orientarse durante sus migraciones nocturnas. La contaminación lumínica puede desorientar a estas criaturas, llevándolas a alejarse de sus rutas habituales o a quedar atrapadas en áreas urbanas, lo que puede poner en peligro sus vidas.</p></li>
									<li><p><b>Alteración de los ciclos de reproducción</b>: La luz artificial durante la noche puede interferir en los ciclos reproductivos de algunas especies. Algunos animales dependen de la oscuridad para sincronizar sus patrones de reproducción. La exposición constante a la luz artificial puede llevar a cambios en estos ciclos, lo que afecta negativamente las poblaciones de especies.</p></li>
									<li><p><b>Atracción de insectos</b>: La contaminación lumínica atrae a insectos nocturnos, como polillas y escarabajos, hacia fuentes de luz artificiales. Esto puede tener un efecto devastador en los ecosistemas, ya que reduce la disponibilidad de alimentos para los animales que dependen de estos insectos.</p></li>
									<li><p><b>Impacto en la fotosíntesis</b>: La luz artificial nocturna puede afectar a las plantas al prolongar sus períodos de fotosíntesis, lo que puede agotar sus recursos y disminuir su capacidad de recuperación durante la noche. Esto puede tener un efecto cascada en los herbívoros y los depredadores que dependen de estas plantas.</p></li>
									<li><p><b>Cambios en el comportamiento</b>: La presencia constante de luz artificial puede alterar los patrones de actividad de los animales nocturnos. Algunos animales pueden volverse más cautelosos y evitar áreas iluminadas, lo que reduce su hábitat utilizable y aumenta su estrés.</p></li>
								</ol>
							</p>
						</div>
					</div>
					<div class="acc_item">
						<div class="acc_header">
							<h3 class="fn__maintitle" data-text="¿En qué consiste la escala Bortle?">¿En qué consiste la escala Bortle?</h3>
							<span class="icon"><span></span></span>
						</div>
						<div class="acc_content text-justify">
							<p>La Escala Bortle, nombrada en honor al astrónomo aficionado John E. Bortle, es una herramienta utilizada para medir la calidad del cielo nocturno en términos de observación astronómica. Esta escala, que va del nivel 1 al nivel 9, clasifica los lugares en función de su contaminación lumínica y la visibilidad de objetos celestes:</p>
							<ol>
								<li><p>Cielo excepcionalmente oscuro, se caracteriza por:</p>
									<ul>
										<li>Luz zodiacal claramente visible.</li>
										<li>Júpiter y Venus afectan la adaptación  a la oscuridad.</li>
										<li>Las regiones de la vía láctea en escorpión y sagitario proyectan sombras en el suelo.</li>
										<li>Muchas constelaciones son irreconocibles por la gran cantidad de estrellas observables.</li>
										<li>El entorno cercano es prácticamente invisible.</li>
									</ul>
								</li>
								<li><p>Luz zodiacal brillante cerca del amanecer y anochecer:</p>
									<ul>
										<li>La vía láctea presenta estructuras a simple vista.</li>
										<li>Se observa vagamente el entorno.</li>
										<li>Las nubes solo se observan como vacíos en el cielo estrellado.</li>
										<li>Muchos objetos Messier y cúmulos globulares visibles a ojo desnudo.</li>
									</ul>
								</li>
								<li><p>Cielo rural, se caracteriza por:</p>
									<ul>
										<li>Luz zodiacal claramente visible en primavera y otoño.</li>
										<li>Algunas evidencias de contaminación lumínica sobre el horizonte.</li>
										<li>Las nubes pueden observarse brillante cerca del horizonte pero oscuras cerca del cenit.</li>
										<li>Entorno cercano difícil de distinguir.</li>
									</ul>
								</li>
								<li><p>Transición de cielo rural a suburbano, se caracteriza por:</p>
									<ul>
										<li>Luz zodiacal aun es observable pero no atraviesa todo el cielo.</li>
										<li>La vía láctea aún es claramente visible pero se observan menos detalles.</li>
										<li>Varios focos de contaminación lumínica observables en distintas direcciones sobre el horizonte.</li>
									</ul>
								</li>
								<li><p>Cielo suburbano, se caracteriza por:</p>
									<ul>
										<li>Luz zodiacal apenas distinguible algunas noches de primavera u otoño.</li>
										<li>La vía láctea es apenas visible en el horizonte y borrosa cerca del cenit.</li>
										<li>Hay fuentes de contaminación lumínica prácticamente en todas direcciones.</li>
										<li>Las nubes se observan más brillantes que el cielo.</li>
									</ul>
								</li>
								<li><p>Cielo suburbano brillante, se caracteriza por:</p>
									<ul>
										<li>No hay rastros de luz zodiacal.</li>
										<li>Solo cerca del cenit se observan indicios de la vía láctea.</li>
										<li>Hasta una actitud de 35° sobre el horizonte el cielo se observa blanco grisáceo.</li>
										<li>Se pueden distinguir detalles del entorno.</li>
									</ul>
								</li>
								<li><p>Transición de cielo suburbano a urbano, se caracteriza por:</p>
									<ul>
										<li>Todo el cielo se observa de un tono gris blanquecino.</li>
										<li>La vía láctea no se observa.</li>
										<li>Hay fuentes luminosas intensas en todas direcciones.</li>
										<li>Nubes muy brillantes.</li>
									</ul>
								</li>
								<li><p>Cielo de ciudad, se caracteriza por:</p>
									<ul>
										<li>El cielo brilla de un color blanco grisáceo o anaranjado.</li>
										<li>Es posible leer el titular de un periódico.</li>
										<li>Algunas estrellas de las constelaciones más conocidas no se observan.</li>
									</ul>
								</li>
								<li><p>Cielo de centro de ciudad, se caracteriza por:</p>
									<ul>
										<li>Cielo brillantemente iluminado incluso hacia el cenit.</li>
										<li>Solo se distinguen las estrellas más brillantes de algunas constelaciones.</li>
										<li>Otras constelaciones con estrellas más tenues como cáncer y piscis son completamente invisibles.</li>
										<li>Exceptuando las Pléyades ningún objeto Messier es observable.</li>
									</ul>
								</li>
							</ol>
							<p></p>
						</div>
					</div>
				</div>
				
			</div>
			
		</div>
		
	</div>
</section>
<!-- !Section FAQ -->