{% load static %}
<!-- Footer -->
<footer id="footer">
  <div class="container-fluid social-networks">
    <div class="container footer-external-links">
      <div class="row align-items-end">
        <div class="col-md-6">
          <a href="https://twitter.com/userena" target="_blank"><img src="{% static 'images/logos/t.png' %}" class="logo-footer"/></a>
          <a href="https://www.facebook.com/userenaoficial/" target="_blank"><img src="{% static 'images/logos/face_icon.png' %}" class="logo-footer"/></a>
          <a href="https://www.youtube.com/channel/UCZA13jsY_CaQh9E9BN5C-tA" target="_blank"><img src="{% static 'images/logos/y.png' %}" class="logo-footer"/></a>
          <a href="https://www.flickr.com/photos/144282218@N03/albums" target="_blank"><img src="{% static 'images/logos/flickr_.png' %}" class="logo-footer"/></a>
          <a href="https://www.instagram.com/userenaoficial/" target="_blank"><img src="{% static 'images/logos/i.png' %}" class="logo-footer"/></a>
        </div>
        <div class="col-md-6">
          <div class="footer-links">
            <a href="http://www.consejoderectores.cl" target="_blank">CRUCH</a> 
            | <a href="http://www.uestatales.cl/" target="_blank">CUECH </a>
            | <a href="https://www.auregionales.cl/" target="_blank">AUR </a>
            | <a href="http://www.reuna.cl/" target="_blank">REUNA </a>
            | <a href="http://www.universia.cl/" target="_blank">UNIVERSIA </a> 
            | <a href="http://revistas.userena.cl/" target="_blank">PORTAL DE REVISTAS</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container footer-units">
    <div class="container">
      <div class="row">
        <div class="col-md-3 offset-md-1">
          <p class="title text-xs-center text-sm-center text-md-left"><a href="https://equidadygenero.userena.cl/" target="_blank">Departamento de Equidad y Género</a></p>
          <p class="title text-xs-center text-sm-center text-md-left"><a href="https://userena.cl/comite-de-seguridad-de-la-informacion" target="_blank">Comité de Seguridad de la Información</a></p>
          <p class="title text-xs-center text-sm-center text-md-left"><a href="https://userena.cl/coronavirus" target="_blank">Coronavirus</a></p>
          <img class="sppb-img-responsive" src="https://userena.cl/images/imagenes_footer/guion.png" alt="Separador" title="" data-uw-rm-alt-original="Separador" data-uw-rm-alt="ALT">
          <p class="title text-xs-center text-sm-center text-md-left"><a href="https://www.userena.cl/modelo-de-prevencion-y-deteccion-de-delitos-uls" target="_blank">Modelo de Detección y Prevención de Delitos<br/> Funcionarios, Lavado de Activos,<br/> Financiamiento del Terrorismo</a></p>
        </div>
        <div class="col-md-3">
          <p class="title text-xs-center text-sm-center text-md-left"><a href="http://analisis.userena.cl/uls-en-cifras/" target="_blank">ULS en Cifras</a></p>
          <p class="title text-xs-center text-sm-center text-md-left"><a href="https://userena.cl/convenios-de-desempeno-mineduc" target="_blank">Convenios de Desempeño</a></p>
          <img class="sppb-img-responsive" src="https://userena.cl/images/imagenes_footer/guion.png" alt="Separador" title="" data-uw-rm-alt-original="Separador" data-uw-rm-alt="ALT">
          <p class="title text-xs-center text-sm-center text-md-left"><a href="https://userena.cl/incentivo-al-retiro" target="_blank">Incentivo al Retiro</a></p>
          <p class="title text-xs-center text-sm-center text-md-left"><a href="https://userena.cl/trabaja-con-nosotros" target="_blank">Trabaja con Nosotros</a></p>
          <img class="sppb-img-responsive" src="https://userena.cl/images/imagenes_footer/guion.png" alt="Separador" title="" data-uw-rm-alt-original="Separador" data-uw-rm-alt="ALT">
          <p class="title text-xs-center text-sm-center text-md-left"><a href="https://pace.userena.cl/" target="_blank">PACE ULS</a></p>
        </div>
        <div class="col-md-3">
          <p class="title text-xs-center text-sm-center text-md-left">TRANSPARENCIA ULS</p>
          <ul class="list-unstyled list-footer">
            <li><a href="http://transparencia.userena.cl/" target="_blank">Transparencia Activa</a></li>
            <li><a href="http://transparencia.userena.cl/transparencia_solicitud.php" target="_blank">Solicitud Ley de Transparencia</a></li>
            <li><a href="https://userena.cl/transparencia-presupuestaria.html" target="_blank">Transparencia Presupuestaria</a></li>
          </ul>
          <img class="sppb-img-responsive" src="https://userena.cl/images/imagenes_footer/guion.png" alt="Separador" title="" data-uw-rm-alt-original="Separador" data-uw-rm-alt="ALT">
          <p class="title text-xs-center text-sm-center text-md-left">IDENTIDAD VISUAL</p>
          <ul class="list-unstyled list-footer">
            <li><a href="https://userena.cl/logos-uls" target="_blank">Logo ULS</a></li>
            <li><a href="https://userena.cl/manual-identidad-visual" target="_blank">Manual Identidad Visual</a></li>
            <li><a href="https://userena.cl/relato-corporativo" target="_blank">Relato Corporativo</a></li>
            <li><a href="https://userena.cl/brochure-corporativo" target="_blank">Brochure Corporativo (mayo/2022)</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid footer-logos">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-4">
          <a class="reveal-inline-block" href="http://userena.cl" target="_blank">
            <img src="{% static 'images/logos/userena-footer.png' %}" alt="" class="logo-uls-footer"/>
          </a>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <a class="reveal-inline-block" href="https://www.userena.cl/contactos-uls.html" target="_blank">
            <img src="{% static 'images/logos/logo_copyright2.png' %}" alt="" class="logo-uls-footer"/>
          </a>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
          <a class="reveal-inline-block" href="{% static 'docs/ULS-INST-00053-05-RESD-3.pdf' %}" target="_blank">
            <img src="{% static 'images/logos/acreditada_5_copy_.png' %}" alt="" class="logo-uls-footer" width="360px" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- !Footer -->

