{% extends "base.html" %}
{% load static %}
{% block content %}
  
<!-- Content -->
<div class="metaportal_fn_content">

<div class="metaportal_fn_pagetitle">
  
  <div class="container small">
    <div class="pagetitle">
      <h3 class="fn__maintitle big" data-text="Multimedia" data-align="center">Multimedia</h3>
      <p>
        <a href="{% url 'index' %}">Inicio</a>
        <span class="divider">/</span>
        <span class="text">Multimedia</span>
      </p>
    </div>
  </div>
</div>
  
<!-- Section Divider -->
<div class="fn_cs_section_divider">
  <div class="divider">
    <span class="short"></span>
    <span class="long"></span>
    <span class="short"></span>
  </div>
</div>
<!-- !Section Divider -->


<!-- Similar Items -->
<div class="metaportal_fn_similar">
  <div class="metaportal_fn_drops">
    <ul class="grid">
      {% for multimedia in multimedias %}
      <li>
        <div class="nft__item">
          <div class="img_holder">
            <img src="https://img.youtube.com/vi/{{ multimedia.linkcode }}/0.jpg" alt="">
            <a href="https://www.youtube.com/watch?v={{ multimedia.linkcode }}" class="full_link" target="_blank"></a>
          </div>
          <div class="title_holder">
            <h3 class="fn_title">{{ multimedia.titulo }}</h3>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- !Similar Items -->
{% endblock %}