{% load static %}
<!-- Home Section -->
    <section id="full_slider">
    
      <div class="fn_cs_full_slider">
      
        
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="bg_overlay"></div>
              <div class="abs_img" data-bg-img="{% static 'images/full_slider/banner-web-6.jpg' %}"></div>
            </div>
            <div class="swiper-slide">
              <div class="bg_overlay"></div>
              <div class="abs_img" data-bg-img="{% static 'images/full_slider/banner-web-1.jpg' %}"></div>
            </div>
            <div class="swiper-slide">
              <div class="bg_overlay"></div>
              <div class="abs_img" data-bg-img="{% static 'images/full_slider/banner-web-2.jpg' %}"></div>
            </div>
            <div class="swiper-slide">
              <div class="bg_overlay"></div>
              <div class="abs_img" data-bg-img="{% static 'images/full_slider/banner-web-3.jpg' %}"></div>
            </div>
            <div class="swiper-slide">
              <div class="bg_overlay"></div>
              <div class="abs_img" data-bg-img="{% static 'images/full_slider/banner-web-4.jpg' %}"></div>
            </div>
            <div class="swiper-slide">
              <div class="bg_overlay"></div>
              <div class="abs_img" data-bg-img="{% static 'images/full_slider/banner-web-5.jpg' %}"></div>
            </div>
          </div>
        </div>
        
        <div class="slider_nav">
          <a href="#" class="prev">
            <span class="circle"></span>
            <span class="icon"><img src="{% static 'svg/down.svg' %}" alt="" class="fn__svg"></span>
            <span class="circle"></span>
          </a>
          <a href="#" class="next">
            <span class="circle"></span>
            <span class="icon"><img src="{% static 'svg/down.svg' %}" alt="" class="fn__svg"></span>
            <span class="circle"></span>
          </a>
        </div>
        
      </div>
      
    </section>
    <!-- !Home Section -->