{% load static %}
<!-- US -->
<section id="about2">		
	<div class="container small">
		<div class="fn_cs_shortabout">
			<div class="about_left">
				<h3 class="fn__maintitle" data-text="Quienes Somos">Quienes Somos</h3>
				<div class="fn_cs_divider">
					<div class="divider">
						<span></span>
						<span></span>
					</div>
				</div>
				<div class="desc text-justify">
					<p>Ilumina a Conciencia es un proyecto financiado por el Gobierno Regional que busca generar un impacto positivo en la toma de conciencia frente a la problemática de la contaminación lumínica y cómo cuidamos nuestro cielo y nuestra salud. </p>
					<p>El proyecto contempla la implementación de una red de monitoreo de la contaminación lumínica de una serie de nodos de medición que serán instalados en distintos puntos de la Región de Coquimbo.</p>
					<p>La ejecución del proyecto está a cargo de un equipo multidisciplinario formado por científicos, ingenieros informáticos, periodistas, diseñadores y comunicadores.</p>
				</div>
				<a href="{% url 'team' %}" class="metaportal_fn_button"><span>Equipo</span></a>
			</div>
			<div class="about_right" style="min-height: 100%">
				<img src="{% static 'images/team/equipo.jpg' %}" clas="img-fluid" style="padding-top: 46px;padding-left: 46px;padding-right: 46px;padding-bottom: 46px;"></img>
			</div>
		</div>
	</div>
	<div class="fn_cs_collection_info mt-5">
		<h3 class="fn__gradient_title">+20</h3>
		<h3 class="fn__maintitle upper" data-text="PUNTOS DE MEDICIÓN EN LA REGIÓN">PUNTOS DE MEDICIÓN EN LA REGIÓN</h3>
		<p>El proyecto IluminAConCiencia tiene contemplada la instalación de más de 20 nodos de medición de la contaminación lumínica en distintos establecimientos educacionales y observatorios turísticos de la Región de Coquimbo. Estos nodos están conformados por un fotómetro diseñado para la medición del brillo del cielo, sensores para el monitoreo de las condiciones meteorológicas y otros dispositivos que permiten el almacenamiento y transmisión de los datos recopilados en tiempo real.</p>
	</div>
</section>
<!-- US -->